#!/bin/bash

echo "Content-type: text/html"
echo ""

# Your html/javascript code here
cat <<EOF

<html>
<body>

<h1>Control Panel</h1>


<button type="button"
onclick="document.getElementById('demo').innerHTML = Date()">
Click me to display Date and Time.</button>

<p id="demo"></p>



</body>
</html>
EOF

# Your Bash code here

echo "<form method="""post"" action="""get_system_info.sh"">"
echo "<input type="""submit"" value="""get_system_info"">"
echo "</form>"

echo "<form method="""post"" action="""get_data.sh"">"
echo "<input type="""submit"" value="""get_data"">"
echo "</form>"
