#!/bin/bash
# get today's date

OUTPUT="$(date)"

# You must add following two lines before
# outputting data to the web browser from shell
# script
 echo "Content-type: text/html"
 echo ""
 echo "<html><head><title>Succesfull</title></head><body>"
 echo "Today is $OUTPUT <br>"
 echo "Current directory is $(pwd) <br>"
 echo "Shell Script name is $0"
 echo "</body></html>"

 echo "<form method="""post"" action="""get_system_info.sh"">"
 echo "<input type="""submit"" value="""get_system_info"">"
 echo "</form>"

 echo "<form>"
 echo "<input type="""text"" type="""submit"">"
 echo "<input type="""submit"" value="""run_script_and_pause"">"
 echo "</form>"

 echo '<h3>'
 hostname
 echo '</h3>'
