#!/bin/bash

echo "Content-type: text/html"
echo ""

# Your html/javascript code here
cat <<EOF

<html>
<body>

<h1>Pass value to script</h1>

<p>Expected behaviour: Click Submit. The Submit button should be disabled for the next 5 seconds.</p>

<input id="numb_text_input">

<button id="submit_button" onclick="myFunction()">Submit</button>

<p id="demo"></p>

<script>
function myFunction() {
    var x, text;

    // Get the value of the input field with id="numb"
    x = document.getElementById("numb_text_input").value;

    // If x is Not a Number or less than one or greater than 10
    if (isNaN(x) || x < 1 || x > 10) {
        text = "Input not valid";
    } else {
            document.getElementById("submit_button").disabled = true;
            setTimeout(function(){document.getElementById("submit_button").disabled = false;},5000);

        text = "Input OK";
    }
    document.getElementById("demo").innerHTML = text;
}
</script>


</body>
</html>

EOF
