#!/bin/bash

echo "Content-type: text/html"
echo ""


# Your html/javascript code here
cat <<EOF

<html>
<body>

<h1>Pass value to script</h1>

<p>Expected behaviour: Click Submit. The Submit button should be disabled for the next 5 seconds.</p>

<input id="numb_text_input">
<form id="ourForm">
<button id="submit_button" onclick="myFunction()">Submit</button>
</form>
<p id="demo"></p>

<script>
function myFunction() {
    var x, text;

    //var ourForm = document.getElementById("ourForm");

    // Get the value of the input field with id="numb"
    x = document.getElementById("numb_text_input").value;
    //ourForm.setAttribute("action",x);
    // If x is Not a Number or less than one or greater than 10
    if (x) {
      document.getElementById("submit_button").disabled = true;
      setTimeout(function(){document.getElementById("submit_button").disabled = false;},5000);

      var xmlhttp;

      if (window.XMLHttpRequest) {
          xmlhttp = new XMLHttpRequest();
          xmlhttp.open("GET", x, false);
          xmlhttp.send(null);
      }

      document.getElementById("demo").innerHTML = xmlhttp.response;
      text = "Input OK";
    } else {
      text = "Input not valid";
    }


}
</script>


</body>
</html>

EOF
